spring:

  profiles:
    active: db


  jpa:
    show-sql: true

    hibernate:
      ddl-auto: create

    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100


    open-in-view: false
    generate-ddl: true


  ###########execute data.sql
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  ###########execute data.sql



logging:
  level:
    org:
      hiberante:
        SQL: debug
